:root {
    --black: #0e1111;
    --white: #f9f9f9;
}

* {
    font-family: 'ArcadeClassic', sans-serif;
    color: var(--white);
}

body {
    height: 100vh;
}

p {
font-family: 'Yuji', 'serif';
}

li {
font-family: 'Noto Sans Mono', 'serif';
}

/* -------- HEADER --------- */

header {
    background-color: var(--black);
}

header li {
    position: relative;
}

header li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--white);
    transform: scaleX(0);
    transition: transform 0.6s ease-in-out;
}

header li:hover::after {
    transform: scaleX(1);
}

header a:link {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

header a:visited {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

header a:hover {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

h1 {
    font-size: 44px;
}

/* ------------ MAIN ---------- */

/* ------ LEFT IMAGE CONTAINER -------- */
#main-container {
    background-color: var(--black);
    border-top: 1px dashed var(--white);
    margin: 0;
    height: 100%;
}

#game-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image-wrapper {
    height: 50%;
    width: 50%;
    overflow: hidden;
}

#amazon-container {
text-align: center;
}

#amazon-title {
font-family: 'Noto Sans Mono', sans-serif;
}

#amazon-logo {
height: 100px;
width: 200px;
margin-top: 2%;
}

/* ------ RIGHT GAME STATS CONTAINER -------- */
#game-stats-container {
    display: flex;
    flex-direction: column;
}

#game-title {
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

#released-span {
    margin-top: 2%;
}

#description {
    margin: 5% 0;
    width: 80%;
    line-height: 2;
}

#platforms {
    display: flex;
    flex-wrap: wrap;
}

.platforms-list-item {
    padding: 20px 20px 20px 0;
}

/* -------- VIDEO SECTION ------- */

.video-container {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px dashed var(--white);
}

#trailer-text {
    margin-bottom: 2%;
}

.video-frame {
    width: 700px;
    height: 350px;
}

/* ---- END VIDEO SECTION ----- */

h2 {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

h2 a:active {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

h2 a:visited {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

h2 a:link {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

h3 {
    font-size: 32px;
}

.set-height {
    height: 80%;
}

/* ---------- FOOTER --------- */

.footer {
    background-color: var(--black);
    border-top: 1px dashed var(--white);
}

strong {
    color: var(--white)
}

/* --------- APPENDED ERROR --------- */

.sorry-header {
    text-align: center;
    padding: 100px;
    font-size: 55px;
}

#go-back {
    color: var(--black);
    width: 150px;
    height: 50px;
    margin-bottom: 5%;
    font-size: 24px;
}

/* -------- MEDIA QUERIES -------- */

@media screen and (max-width: 874px) {
    .nav-links {
        font-size: 24px !important;
    }

    #top-nav-list {
        justify-content: space-between;
    }

    #description {
        width: 95%;
    }
}

@media screen and (max-width: 840px) {
    .video-frame {
        width: 550px;
        height: 250px;
    }
}

@media screen and (max-width: 769px) {
    .section {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .video-frame {
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width: 518px) {
    #top-nav-list {
        flex-direction: column !important;
    }

    #project-title-header {
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    .video-frame {
        width: 300px;
        height: 150px;
    }
}