:root {
    --black: #0e1111;
    --white: #f9f9f9;
}

* {
    font-family: 'Prompt', serif;
    color: var(--white);
}

body {
    height: 100vh;
}


/* -------- HEADER --------- */
h1 {
    font-size: 44px;
}

header {
    background-color: var(--black);
}

header li {
    position: relative;
}

header li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--white);
    transform: scaleX(0);
    transition: transform 0.6s ease-in-out;
}

header li:hover::after {
    transform: scaleX(1);
}

header a:link {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

header a:visited {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

header a:hover {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

/* ------- MAIN ------ */
#main-container {
    background-color: var(--black);
    border: 2px dotted var(--white);
    flex-direction: column;
    margin: 0;
    height: 100%;
}

#platform-stats-container {
    display: flex;
    justify-content: center;
}

#platform-title {
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

.total-games {
    text-align: center;
}

/* ------ IMAGE/VIDEO CONTAINER -------- */
/* ---- LEFT/IMAGE ----- */
#platform-image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
}

#image-wrapper {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- RIGHT/VIDEO ----- */
.video-container {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
}

.video-frame {
    width: 500px;
    height: 500px;
}

/* ---- END VIDEO SECTION ------- */

h2 {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

h2 a:active {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

h2 a:visited {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

h2 a:link {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

h2:hover {
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out;
}

h3 {
    font-size: 32px;
}

/* ------ FOOTER -------- */
.footer {
    background-color: var(--black);
    border-top: 2px dotted var(--white);
}

strong {
    color: var(--white)
}

/* ------- MEDIA QUERIES -------- */

@media screen and (max-width: 1200px) {
    .video-frame {
        height: 300px;
        width: 50%;
    }

    #platform-image-container {
        flex-direction: column;
    }

    .video-container {
        padding: 0;
        width: 100%;
    }
}

@media screen and (max-width: 874px) {
    .nav-links {
        font-size: 24px !important;
    }

    #top-nav-list {
        justify-content: space-between;
    }
}

@media screen and (max-width: 769px) {
    .section {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .video-frame {
        height: 200px;
        width: 50%;
    }
}

@media screen and (max-width: 518px) {
    #top-nav-list {
        flex-direction: column !important;
    }

    #project-title-header {
        text-align: center;
    }

    #platform-image-container {
        height: 80%;
    }

    #image-wrapper {
        height: 80%;
        width: 80%
    }

    .video-frame {
        height: 250px;
        width: 80%;
    }
}