:root {
    --black: #0e1111;
    --white: #f9f9f9;
}

* {
    font-family: 'ArcadeClassic', sans-serif;
    color: var(--white);
}

/* ------------ HEADER -------------- */

header {
    background-color: var(--black);
}

h1 {
    font-size: 44px;
}

header a {
font-family: 'ArcadeClassic', sans-serif;
}

header a:active {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

header a:link {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

header a:visited {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

header a:hover {
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
}

header li {
    position: relative;
}

header li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--white);
    transform: scaleX(0);
    transition: transform 0.6s ease-in-out;
}

header li:hover::after {
    transform: scaleX(1);
}

/* -------------- CAROUSEL ------------------ */

.splide__slide img {
    height: 250px;
    width: 180px;
    box-shadow: 10px 10px 3px black;
}

.splide__track {
overflow: visible;
}

.carousel-games:hover {
    cursor: pointer;
}

/* --------------- MAIN --------------------*/

.section {
    background-color: var(--black);
    border-top: 1px dashed var(--white);
}

#search-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#searchBtn {
    background-color: var(--black);
    border-color: var(--white);
}

#searchBtn:hover {
    background-color: var(--white);
    border-color: var(--black);
    color: var(--black)
}


#form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#girl-image {
height: 15%;
width: 15%;
animation: fadeInRight 2s ease-in-out 0.2s;
cursor: wait;
}

#sonic-image {
height: 15%;
width: 15%;
animation: fadeInLeft 2s ease-in-out 0.2s;
cursor: wait;
}

#girl-image:hover, #sonic-image:hover {
animation: spin 2s linear;
animation-iteration-count: infinite;
}

.dropdown {
    margin: 25px;
}

.dropdown-anchor {
    color: var(--black);
    display: block;
    font-size: 16px;
}

.dropdown-anchor:hover {
    font-size: 28px;
    color: var(--black)
}

.fa-solid {
    color: var(--black);
}

a {
    color: var(--white);
    font-family: 'Noto Sans Mono', 'serif';
}

h2 {
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 34px;
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
}

.platform-click {
font-family: 'ArcadeClassic', sans-serif;
}

h2 a:hover {
    font-size: 55px;
    color: (var(--white));
    border: 1px dashed var(--white);
    padding: 2px;
    border-radius: 5px;
    white-space: nowrap;
}

.click-color {
    color: var(--black)
}

.pf-list-item {
    padding: 8px;
}

.main-images {
    height: 250px;
    border: 2px solid var(--white);
    object-position: center;
    object-fit: cover;
}

.clickable-game {
    color: var(--white)
}

/* ---------- FOOTER ---------- */

.footer {
    background-color: var(--black);
    border-top: 1px dashed var(--white);
}

strong {
    color: var(--white)
}

#game_tags {
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 50%;
    width: 100px;
}

/* ------------ MEDIA QUERIES ---------------- */

@media screen and (max-width: 874px) {
    .nav-links {
        font-size: 24px !important;
    }

    #top-nav-list {
        justify-content: space-between;
    }
}

@media screen and (max-width: 769px) {
    .section {
        flex-direction: column;
    }
}

@media screen and (max-width: 518px) {
    #top-nav-list {
        flex-direction: column !important;
    }

    #project-title-header {
        text-align: center;
    }
}

/* --------- KEYFRAMES --------- */

@keyframes fadeInRight {
    0% {
    transform: translateX(-200px)
    }
    100% {
    transform: translateX(0)
    }
}

@keyframes fadeInLeft {
    0% {
    transform: translateX(200px)
    }
    100% {
    transform: translateX(0)
    }
}

@keyframes spin {
    0% {
    transform: rotate(40deg)
    }
    20% {
    transform: rotate(110deg)
    }
    40% {
    transform: rotate(180deg)
    }
    60% {
    transform: rotate(240deg)
    }
    80% {
    transform: rotate(300deg)
    }
    100% {
    transform: rotate(360deg)
    }

}